################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/TrainingManagement.FunctionApp/.vs/TrainingManagement.FunctionApp/v16
/.vs
/TrainingManagement.RestApi/Properties/PublishProfiles
/TrainingManagement.RestApi/Properties/PublishProfiles
/TrainingManagement.WebApi/.vs/TrainingManagement.WebApi/v16
/TrainingManagement.WebApi/obj/Debug/netcoreapp3.0
